/* question Component */
.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: white;
  font-family: SF Display;
}
.CheckButton {
  cursor: pointer;
  display: flex;
  flex-direction:row ;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 58px;
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.15));
  background-color: #1ab2a8;
  border-radius: 40px;
}
.RoundedButton {
  display: flex;
  cursor: pointer;
  flex-direction:row ;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.15));
  width: 57px;
  height: 58px;
  background-color: #1ab2a8;
  border-radius: 50%;
}
.RoundedButton > *{
  width: 64px;
  color: white;
}
.unactive{
  background-color: #A6D5D1;
  opacity: 0.5;
}
/* Multiple Choice */
.Button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 335px;
  height: 55px;
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.15));
  color: black;
  background-color: white;
  margin: 12.5px 0;
  padding: 0px 20px;
  border: 1px solid white;
  border-radius: 30px;
  text-align: left;
  font-weight: 300;
  line-height: 21px;
  transition: all 0.3s ease-in-out;
}
.choosen {
  border: 1px solid #828282;
  font-weight: bold;
}
.correct {
  filter: drop-shadow(4px 4px 12px rgba(26, 178, 168, 0.5));
}
.wrong {
  filter: drop-shadow(4px 4px 12px rgba(178, 26, 26, 0.5));
}
