.NavBar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 23px;
}

.NavBarButton {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 19px;
  width: 62px;
  font-family: Gilroy-Regular;
  background-color: white;
  height: 22px;
  grid-column: 2/3;
  align-self: center;
  justify-self: flex-end;
}
.img_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.MavkaSmallLogo{
  margin: 0 15px;
}

.MavkaTextLogo{  
  margin: 0 15px;
}